# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac temp files
*.DS_Store

# Project temp etc. files
.metadata
bin

proj.android/local.properties
proj.android/obj
proj.android/gen/
proj.android/assets/

cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties

proj.ios_mac/Space.xcodeproj/project.xcworkspace/xcuserdata